<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/vintagewestadmin/css/bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/vintagewestadmin/css/responsive-responsive.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/vintagewestadmin/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vintagewestadmin/css/style.css') }}">
</head>
<body>
<div id="mainWrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Vintage West</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('car') }}">Les Combis</a></li>
                        <li class="active"><a href="{{ path('news') }}">Les news</a></li>
                        <li class="active"><a href="{{ path('imageillustration') }}">Les images</a></li>
                        <li class="active"><a href="{{ path('equipement') }}">Les équipements</a></li>
                        <li class="active"><a href="{{ path('language') }}">Les langues</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/vintagewestadmin/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('bundles/vintagewestadmin/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/vintagewestadmin/js/script.js') }}"></script>
{% endblock %}
</div>
</body>
</html>
