{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Equipement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namefr</th>
                <td>{{ entity.nameFr }}</td>
            </tr>
            <tr>
                <th>Nameen</th>
                <td>{{ entity.nameEn }}</td>
            </tr>
            <tr>
                <th>Namees</th>
                <td>{{ entity.nameEs }}</td>
            </tr>
            <tr>
                <th>Descriptionfr</th>
                <td>{{ entity.descriptionFr }}</td>
            </tr>
            <tr>
                <th>Descriptionen</th>
                <td>{{ entity.descriptionEn }}</td>
            </tr>
            <tr>
                <th>Descriptiones</th>
                <td>{{ entity.descriptionEs }}</td>
            </tr>
            <tr>
                <th>Imgurl</th>
                <td>{{ entity.imgUrl }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('equipement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
