{% extends '::admin_base.html.twig' %}

{% block body -%}

    <h1>Les combis</h1>
    <table class="table table-hover tablesorter">
        <thead>
        <tr>

            <th>Model</th>
            <th>Year</th>
            <th>Dimension</th>
            <th>Engine</th>
            <th>Carburation</th>
            <th>Consumption</th>
            <th>Speed</th>
            <th>Sleeping</th>
            <th>Seats</th>
            <th>Imgurl</th>
            <th>Descriptionfr</th>
            <th>Descriptionen</th>
            <th>Descriptiones</th>
            <th>Voir</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.model }}</td>
                <td>{{ entity.year }}</td>
                <td>{{ entity.dimension }}</td>
                <td>{{ entity.engine }}</td>
                <td>{{ entity.carburation }}</td>
                <td>{{ entity.consumption }}</td>
                <td>{{ entity.speed }}</td>
                <td>{{ entity.sleeping }}</td>
                <td>{{ entity.seats }}</td>
                <td>{{ entity.imgUrl }}</td>
                <td>{{ entity.descriptionFr }}</td>
                <td>{{ entity.descriptionEn }}</td>
                <td>{{ entity.descriptionEs }}</td>
                <td><a href="{{ path('car_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('car_edit', { 'id': entity.id }) }}">edit</a></td>
                <td><a href="{{ path('car_delete', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('car_create') }}">
        <button class="btn btn-success"><i class="fa fa-plus-circle"></i> Créer</button>
    </a>
    {% endblock %}
