{% extends '::base.html.twig' %}
{% block body %}
    <?php
include 'header.php';
?>


            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="row">
                <div id="slider" class="span8">
                    <div id='coin-slider'>
                        {% for img in imgsCarrousel %}
                            <a href="{{ img.titleFr }}" target="_blank">
                                <img src='{{ asset('img/illustration/'~img.url) }}' >
                    <span>
                        Description for img01
                    </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div id="news" class="span4">
                    <h2 class="title-brown">News</h2>
                    <div id="moving-block-news">
                    {% for news in newsPerLang %}
                        <div class="mini-news">
                            <h4  class="">{{ news.title }}</h4>
                            <p>{{ news.content }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div id="wrapper-btn-next-news">
                    <a id="btn-next-news"><li class="fa fa-angle-double-down fa-2x"></li></a>
                </div>
            </div>
        </div>
        <div class="brown-bloc">
            <div class="container">
                <div class="row">
                    {% for block in blockPerPage %}
                        {% if block.type.name == "block_focused" %}
                        <div class="span4">
                            <h2 class="title-orange">{{ block.title }}</h2>
                            <p class="text-white">
                                {{ block.content }}
                            </p>
                        </div>
                         {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for block in blockPerPage %}
                    {% if block.type.name == "block_full_width" %}
                        <div class="span12">
                            <h2 class="title-brown">{{ block.title }}</h2>
                            <p>
                                {{ block.content }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                {% for block in blockPerPage %}
                    {% if block.type.name == "block_col_4" %}
                        <div class="span3">
                            <h2 class="title-brown">{{ block.title }}</h2>
                            <p>
                                {{ block.content }}
                            </p>
                            <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>


    <?php
include 'footer.php';
?>
{% endblock %}